/* universal  */

main {
  font-family: "Arsenal", sans-serif;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

/* header and nav  */

header {
  background-color: #340040;
  border-radius: 0.2rem;
  height: 16rem;
}

header .container {
  display: flex;
  font-size: 2.5rem;
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  justify-content: space-around;
}

header img {
  width: 250px;
  height: 250px;
  position: relative;
  left: 0.3rem;
}

header .nav {
  color: #fff;
  display: flex;
  align-items: center;
}

header .nav a {
  text-decoration: none;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
}

header .nav a:hover {
  color: #eaf205;
}

.nav-left {
  position: relative;
}

.nav-left a {
  color: #07f2f2;
}

.nav-right {
  position: relative;
}

.nav-right a {
  color: #07f2f2;
}

/* divider  */
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.divider img {
  width: 15rem;
  padding: 0 0.1rem;
  position: relative;
  right: 0.5rem;
}

#iconstripes {
  background-color: #05f26c;
}

/* hero content  */
.hero {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2rem;
  padding: 1rem;
  opacity: 0.95;
  height: 30rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  opacity: 1;
  letter-spacing: 0.03rem;
  word-spacing: 0.1rem;
}

.hero-content h1 {
  font-size: 3rem;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-color: #f2055c;
}

.hero-content h1 span {
  /* color: #f2055c; */
  font-style: italic;
  text-decoration: none;
}

.hero-content h2 {
  font-size: 1.75rem;
}

.hero-content h2 span {
  text-transform: uppercase;
  text-decoration: none;
}

.hero .icon img {
  width: 300px;
}

.hero span {
  text-decoration: underline;
}

.hero-content h2 .loud {
  font-style: italic;
}

/* locations  */
.locations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.locations-header .stripes {
  background-color: #07f2f2;
}

.location-content img {
  width: 25rem;
}

.bars {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.bars img {
  border-radius: 2rem;
  width: 28rem;
}

.bars-content {
  text-align: center;
}

.bars-content h2 {
  letter-spacing: 0.08rem;
  font-size: 2rem;
}

.bars-content p {
  font-size: 1.3rem;
}

/* events  */
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.pix img {
  width: 400px;
  height: 600px;
  opacity: 0.8;
  border-radius: 15px;
}

.events-content {
  display: flex;
  justify-content: center;
}

#contentlogo {
  width: 25rem;
}

.stripes {
  background-color: #f2055c;
  width: 35%;
  height: 0.5rem;
  border-radius: 1.5rem;
}

.schedule {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}

.featured {
  width: 360px;
  height: 640px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured p {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.feat-one {
  background-image: url(/img/pitch1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.feat-two {
  background-image: url(/img/pitch3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.feat-three {
  background-image: url(/img/pitch2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.feat-four {
  background-image: url(/img/pitch4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.feat-five {
  background-image: url(/img/pitch5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.matchups {
  display: flex;
  justify-content: space-between;
}

.matchups p {
  position: relative;
  top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.matchups img {
  width: 7.75rem;
  opacity: 0.9;
}

#mancity {
  width: 115px;
  height: 115px;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}

#chelsea {
  width: 115px;
  height: 115px;
  position: relative;
  right: 0.5rem;
  top: 0.1rem;
}

/* membership  */

.membership-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}

.membership-header .stripes {
  background-color: #340040;
  opacity: .75;
}

.membership-content img {
  width: 30rem;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  margin: 7rem 0;
}

.benefits-content {
  text-align: center;
  width: 100%;
}

.benefits-content i {
  opacity: 0.85;
}

.benefits-content h2 {
  font-size: 2rem;
  word-spacing: 0.05rem;
  letter-spacing: 0.05rem;
}

.benefits-content p {
  font-size: 1.3rem;
}

.benefits-description {
  margin-bottom: 7rem;
}

.benefits-content span {
  font-style: italic;
}

/* about us  */

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-header .stripes {
  background-color: #eaf205;
}

.about-content img {
  width: 20rem;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.third .web img {
  width: 70rem;
}


/* footer  */

footer {
  background-color: #340040;
  color: #fff;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 300px;
}
